#######################################
#### Fan configuration             ####
#######################################

[fan_generic Part_Cooling_Fan]
pin: PE5   #Fan1 J51
max_power: 1.0
shutdown_speed: 0.0
#cycle_time:
#hardware_pwm:
#kick_start_time:
off_below: 0.0
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters

[heater_fan Heatbreak_Fan]
pin: PA8  #Fan0 J50
max_power: 1.0
shutdown_speed: 0.0
#cycle_time:
#hardware_pwm:
#kick_start_time:
off_below: 0.99
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
heater: extruder
#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".
heater_temp: 50.0
#   A temperature (in Celsius) that the heater must drop below before
#   the fan is disabled. The default is 50 Celsius.
fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when its associated heater is enabled. The default
#   is 1.0




##############################################################################
# No Longer Used - Reconfigured for BTT-Pad7
##############################################################################

#============================================================================
#
#                         RASPBERRY PI COOLING FAN
#                      Configured control via BTT-Octopus 1.1 Fan5 (J22)
#
#============================================================================
#[temperature_fan Pi_Fan]
#pin:PD15
#max_power:1.0
#shutdown_speed: 0.0
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below: 0.99
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
#sensor_type: temperature_host
#sensor_pin:
#control: watermark
#max_delta: 5
#min_temp: 0
#max_temp: 100
#   See the "extruder" section for a description of the above parameters.
#pid_Kp:
#pid_Ki:
#pid_Kd:
#   The proportional (pid_Kp), integral (pid_Ki), and derivative
#   (pid_Kd) settings for the PID feedback control system. Klipper
#   evaluates the PID settings with the following general formula:
#     fan_pwm = max_power - (Kp*e + Ki*integral(e) - Kd*derivative(e)) / 255
#   Where "e" is "target_temperature - measured_temperature" and
#   "fan_pwm" is the requested fan rate with 0.0 being full off and
#   1.0 being full on. The pid_Kp, pid_Ki, and pid_Kd parameters must
#   be provided when the PID control algorithm is enabled.
#pid_deriv_time: 2.0
#   A time value (in seconds) over which temperature measurements will
#   be smoothed when using the PID control algorithm. This may reduce
#   the impact of measurement noise. The default is 2 seconds.
#target_temp: 20.0
#   A temperature (in Celsius) that will be the target temperature.
#   The default is 40 degrees.
#max_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when the sensor temperature exceeds the set value.
#   The default is 1.0.
#min_speed: 0.3
#   The minimum fan speed (expressed as a value from 0.0 to 1.0) that
#   the fan will be set to for PID temperature fans.
#   The default is 0.3.
#gcode_id:
#   If set, the temperature will be reported in M105 queries using the
#   given id. The default is to not report the temperature via M105.